/* icons imported first */
@import "bootstrap-icons/font/bootstrap-icons.css";
/* Tailwind imported later for precedence with @apply */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main {
  grid-template-rows: 10vh 10vh 60px max-content 1fr;
}

.temperature-text::after {
  @apply absolute top-0 -right-4 text-xs;
  content: '\00B0 C';
}

#forecast-table td {
  @apply border-t border-t-zinc-500;
  width: 25%;
}