/* tailwind imports */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

.temperature-text::after {
  position: absolute;
  top: 0px;
  right: -15px;
  content: '\00B0 C';
  font-size: 1rem;
}